<app-headers titulo="Cards"></app-headers>
  
<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Monalisa</ion-card-title>
      <ion-card-subtitle>El despertar de... </ion-card-subtitle>
    </ion-card-header>
    <ion-img src="assets/img/m.jpeg"></ion-img>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>My subtitle</ion-card-subtitle>
      <ion-card-title>My title</ion-card-title>
      <ion-card-content>
        lorem ipsum dolorlorem ipsum dolorlorem 
        ipsum dolorlorem ipsum dolorlorem ipsum 
        dolorlorem ipsum lorem ipsum dolor
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <!-- Segunda tarjeta -->
  <ion-card>
    <ion-item color="success">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>lorem</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
